Client/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cardvalidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cardvalidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardvalidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="expValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="expValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expValidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cvvValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cvv" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cvvValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cvvValidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactamt" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>